-- Fix missing phone column in reviews table
-- Add phone and country_code columns, remove email column

-- Add phone column
ALTER TABLE public.reviews 
ADD COLUMN IF NOT EXISTS phone text;

-- Add country_code column
ALTER TABLE public.reviews 
ADD COLUMN IF NOT EXISTS country_code text DEFAULT '+1';

-- Add feedback column for low ratings
ALTER TABLE public.reviews 
ADD COLUMN IF NOT EXISTS feedback text;

-- Remove email column if it exists (it's not in the current schema)
-- ALTER TABLE public.reviews DROP COLUMN IF EXISTS email;

-- Update RLS policies to allow public access for review submissions
DROP POLICY IF EXISTS "Anyone can insert reviews" ON public.reviews;
CREATE POLICY "Anyone can insert reviews" ON public.reviews
  FOR INSERT WITH CHECK (true);

-- Allow public access to update reviews (for feedback)
DROP POLICY IF EXISTS "Authenticated users can update reviews" ON public.reviews;
CREATE POLICY "Anyone can update reviews" ON public.reviews
  FOR UPDATE USING (true);
